<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical_insurance_charges</title>
</head>
<body background='static/Naruto.jpg'  style="background-color: hsl(61, 100%, 50%);">
<!-- <body background-image="static/dhoni.jpg" background-repeat="no-repeat” background-size="cover”> -->
    <!-- <center> -->
    <center>
    <h1> salary prediction Form</h1>
    </center>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INSURANCE -->
    <br>
    <br>
   
    
    <br><br><div align=centre>
    <form align=centre method="post" action ="/predict_salary">
        
        <label>Total_Experience:</label>
        <input type="text" name ="Total_Experience">
        <br>
        <br>   						
        
        
        <br>  
        <br>        
        <label>Team_Lead_Experience:</label>
        <input type="text" name ="Team_Lead_Experience">
        <br>
        <br>
        <label>Project_Manager_Experience:</label>
        <input type="text" name ="Project_Manager_Experience">
       
        <br>
        <br>
        <label>Certifications:</label>
        <input type="text" name ="Certifications">
        
        
        <br>
        <br>
        <input type="submit" value ="SUBMIT">
     

    </form>

   
    <br>
    <br>
   
    <!-- </center>  -->
</body>
</html>

